# Byte-compiled / optimized / DLL files / python cached files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# VirtualEnv Folders
.venv
TextSentimentEnv

# Temporary Files and Folders
.temp

# Ignore Heroku files
setup.sh
Procfile
heroku_create.py

.idea
*bin